{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Logo Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "logonav/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "logonav/css/logo-nav.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

    circle {
    stroke: #000;
    stroke-opacity: .5;
    
    }

    #hightlightcircle {
    stroke-width: 5;  
    }

    </style>
</head>

<body>

    {% include "fda/navi.html" %}

    
    <!-- Page Content -->
    <div class="container" >
        <div class="row">
            <div class="col-md-8">
                <h1>Beta Analytics</h1>
                <!-- <p>Note: You may need to adjust some CSS based on the size of your logo. The default logo size is 150x50 pixels.</p> -->
            </div>
            <div class="col-md-4">
                <a class="btn btn-large btn-success" id="refresh" style="margin-top: 25px" >Sync Data</a>
            </div>
        </div>
    </div>
    <div id="body">

    </div>

    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static "logonav/js/jquery-1.11.0.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "logonav/js/bootstrap.min.js" %}"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script>

    var width = 960,
    height = 500;

 // var nodes = d3.range(200).map(function() { return {radius: Math.random() * 12 + 4}; }),
     // root = nodes[0],
     color = d3.scale.category10();



     var force = d3.layout.force()
     .gravity(0.05)
     .charge(function(d, i) { return 0; })
    // .nodes(nodes)
    .size([width, height]);

    var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

    d3.json("{% url 'fda:getGraphData2' %}", function(error, graph) {
 //   root = graph[0]
 //   root.radius = 0;
 // root.fixed = true;
 for( n in graph)
  {
  graph[n].radius =graph[n].radius *2.5;
  }


force
.nodes(graph)
.start();


var nodes = svg.selectAll("circle")
.data(graph.slice(1))
.enter().append("circle")
.attr("r", function(d) { return d.radius; })
.style("fill", function(d, i) { return color(i % 3); })
.call(force.drag)
.on("mouseover",function(d){
  var n = svg.selectAll("circle")
      .filter(function(dd, i){ return dd.name === d.name; });

  // n.attr("id", function(dd){ return "hightlightcircle"});
  n.attr("id", "hightlightcircle");
})
.on("mouseout",function(d){
  var n = svg.selectAll("circle")
      .filter(function(dd, i){ return dd.name === d.name; });

  // n.attr("id", function(dd){ return "hightlightcircle"});
  n.attr("id", "");
});

nodes.append("title")
     .text(function(d){ return d.name});


force.on("tick", function(e) {
  var q = d3.geom.quadtree(graph),
  i = 0,
  n = graph.length;

  while (++i < n) q.visit(collide(graph[i]));

  svg.selectAll("circle")
  .attr("cx", function(d) { return d.x; })
  .attr("cy", function(d) { return d.y; });
});

// svg.on("mousemove", function() {
//   var p1 = d3.mouse(this);
//   root.px = p1[0];
//   root.py = p1[1];
//   force.resume();
// });

  });









    function collide(node) {
      var r = node.radius + 16,
      nx1 = node.x - r,
      nx2 = node.x + r,
      ny1 = node.y - r,
      ny2 = node.y + r;
      return function(quad, x1, y1, x2, y2) {
        if (quad.point && (quad.point !== node)) {
          var x = node.x - quad.point.x,
          y = node.y - quad.point.y,
          l = Math.sqrt(x * x + y * y),
          r = node.radius + quad.point.radius;
          if (l < r) {
            l = (l - r) / l * .5;
            node.x -= x *= l;
            node.y -= y *= l;
            quad.point.x += x;
            quad.point.y += y;
          }
        }
        return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
      };
    }

    </script>
</body>

</html>
